<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <style>
    /* CSS for the background image */
    body {
      background-image: url("register.jpg");  
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: rgba(215, 116, 116, 0.8); /* Adding some transparency to the form background */
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-top: 50px;
    }

    h2 {
      text-align: center;
    }

    label {
      font-weight: bold;
    }
     form{
        padding: 10px 15px;
        
     }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    input[type="submit"] {
      background-color: #f37725;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      border-radius: 10px;
    }

    input[type="submit"]:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Sign In</h2>
    <form action="/login" method="post">
     

      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
      <select name="role" >
        <option value="user" >User</option>
        <option value="admin">admin</option>
       </select>
       <br>
        <br>
      <input type="submit" value="login">
    </form>
    <span>New account?</span><a href="/signup">sign up</a>
    <p>Login with <a href="/auth/google">Google</a></p>
  </div>
</body>
</html>
